/dist/
/scripts/deploy-config.local.ps1
/backend/database/install.sql
/backend/vendor/
/backend/.env
/backend/storage/logs/*.log
/backend/storage/receipts/*.pdf
/frontend/.dart_tool/
/frontend/build/
/frontend/.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
