APP_ENV=development
APP_DEBUG=true
APP_URL=http://psclub.test
APP_TIMEZONE=Asia/Baku

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=psclub
DB_USER=root
DB_PASS=

JWT_SECRET=change-this-to-a-long-random-secret-key
JWT_TTL=86400

CORS_ORIGIN=*
